@import "tailwindcss";

body {
  *::-webkit-scrollbar {
    display: none;
  }
  
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .brandTitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #1e3a5f;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .menu-active {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #1e3a5f;
    cursor: pointer;
  }

  .menu-inactive {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #64748b;
    cursor: pointer;
  }
}
